<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.ExaminationDao">
<!--    题库的增加-->
    <insert id="insertExamination" parameterType="com.tledu.cn.pojo.Examination">
        insert into examination (examination_id,examination_title,examination_a,
        examination_b,examination_c,examination_d,
        examination_type,examination_answer,examination_degree,
        examination_score,is_delete,createtime) values (#{examinationId},#{examinationTitle},#{examinationA},
        #{examinationB},#{examinationC},#{examinationD},
        #{examinationType},#{examinationAnswer},#{examinationDegree},
        #{examinationScore},#{isDelete},#{createtime})
    </insert>
<!--    题库的查找-->
    <select id="selectExamination" parameterType="com.tledu.cn.pojo.Examination" resultType="com.tledu.cn.pojo.Examination">
        select * from examination where is_delete="0"
    </select>

<!--    题库的更改-->

    <update id="updateExamination" parameterType="com.tledu.cn.pojo.Examination">
        update examination set examination_title=#{examinationTitle},
        examination_a=#{examinationA},examination_b=#{examinationB}
        ,examination_c=#{examinationC},examination_d=#{examinationD},
        examination_answer=#{examinationAnswer},examination_degree=#{examinationDegree},examination_score=#{examinationScore}
 where examination_id=#{examinationId}
    </update>

<!--    题库的删除-->
    <update id="deleteExamination" parameterType="com.tledu.cn.pojo.Examination">
        update examination set is_delete="1" where examination_title=#{examinationTitle}
    </update>

<!--    详情页题库的回显-->
    <select id="selTitleExamination" parameterType="com.tledu.cn.pojo.Examination" resultType="com.tledu.cn.pojo.Examination">
        select * from examination where examination_title=#{examinationTitle} and is_delete="0"
    </select>

<!--    查找题目判断插入重复问题-->
    <select id="selectTitle" parameterType="com.tledu.cn.pojo.Examination" resultType="string">
        select examination_id from examination where examination_title=#{examinationTitle} and is_delete="0"
    </select>

    <select id="selectTypeXuan"  resultType="com.tledu.cn.pojo.Examination">
        select * from examination where examination_type="选择题" and is_delete="0"
    </select>

    <select id="selectTypeJian" parameterType="com.tledu.cn.pojo.Examination" resultType="com.tledu.cn.pojo.Examination">
        select * from examination where examination_type="简答题" and is_delete="0"
    </select>
    
<!--    关键字查询-->
    <select id="selectKeyword" parameterType="string" resultType="com.tledu.cn.pojo.Examination">
        select * from examination where examination_title like concat('%',#{value},'%') and is_delete ="0"
    </select>
</mapper>