<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.GradecDao">
<!--    根据paper_id查找试题-->
    <select id="selectExam" parameterType="string" resultType="com.tledu.cn.pojo.Paperc">
    select * from paperc where paper_id=#{value} and is_delete="0"
    </select>

<!--    先根据题目id从数据库paperc表查出题目和选项内容还有标准答案等,然后把根据id查出来的这些插入到gradec表里-->
    <select id="selectPaperAll" parameterType="string" resultType="com.tledu.cn.pojo.Paperc">
        select * from paperc where paperc_id=#{value} and is_delete="0"
    </select>

<!--    插入总表-->
    <insert id="insertPapercAll" parameterType="com.tledu.cn.pojo.Gradec">
        insert into gradec (gradec_id,gradec_loginid,gradec_name,paper_id,gradec_answer,paperc_id,
        is_delete,gradec_title,gradec_onescore,gradec_accuracy,gradec_type,gradec_a,gradec_b,
        gradec_c,gradec_d,gradec_rightanswer,loginc_time,finishc_time,gradec_score) values
        (#{gradecId},#{gradecLoginid},#{gradecName},#{paperId},#{gradecAnswer},#{papercId},#{isDelete},
        #{gradecTitle},#{gradecOnescore},#{gradecAccuracy},#{gradecType},#{gradecA},#{gradecB},
        #{gradecC},#{gradecD},#{gradecRightanswer},#{logincTime},#{finishcTime},#{gradecScore})
    </insert>
    
    <select id="selectTil" parameterType="com.tledu.cn.pojo.Gradec" resultType="com.tledu.cn.pojo.Gradec">
        select * from gradec where paper_id=#{paperId} and gradec_name=#{gradecName}
         and gradec_title=#{gradecTitle}
    </select>
    <update id="updateGradec" parameterType="com.tledu.cn.pojo.Gradec" >
    update gradec set gradec_answer=#{gradecAnswer} where paper_id=#{paperId}
    and gradec_name=#{gradecName} and gradec_title=#{gradecTitle}
</update>


    <update id="insertGrade" parameterType="com.tledu.cn.pojo.Gradec" >
        update grade set
        grade_score=#{gradecScore},grade_accuracy=#{gradecAccuracy},
        paper_id=#{paperId},login_time=#{logincTime},finish_time=#{finishcTime},is_delete=#{isDelete}
        where grade_name=#{gradecName}

    </update>

    <select id="selectAllScore" parameterType="com.tledu.cn.pojo.Gradec" resultType="string">
        select SUM(gradec_score) from gradec where paper_id=#{paperId} GROUP BY #{gradecName}
    </select>

    <select id="selectMin" parameterType="com.tledu.cn.pojo.Gradec" resultType="string">
        select MIN(loginc_time) from gradec where paper_id=#{paperId} GROUP BY #{gradecName}
    </select>

    <select id="selectMax" parameterType="com.tledu.cn.pojo.Gradec" resultType="string">
        select MAX(finishc_time) from gradec where paper_id=#{paperId} GROUP BY #{gradecName}
    </select>

    <select id="selectCount1" parameterType="com.tledu.cn.pojo.Gradec" resultType="string">
        select COUNT(*) from gradec  WHERE gradec_score!=0 AND gradec_name=#{gradecName} and paper_id=#{paperId}
    </select>

    <select id="selectCount2" parameterType="com.tledu.cn.pojo.Gradec" resultType="string">
        select COUNT(*) from gradec  WHERE gradec_name=#{gradecName} and paper_id=#{paperId}
    </select>
</mapper>