<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.YuejuanDao">
<select id="selectYuejuan" parameterType="com.tledu.cn.pojo.Gradec" resultType="com.tledu.cn.pojo.Gradec">
    select * from gradec where paper_id=#{paperId} and gradec_name=#{gradecName}
</select>

</mapper>